@import "_typography.scss";

html {
  font-size: 62.5%;
}

body {
  @extend %sans-serif-font;
}

.App {
  margin: 3rem;
}

.title {
  font-size: 10rem;
  font-family: $SANS-SERIF;
  font-weight: bold;
  font-style: italic;
}

.button {
  @extend %sans-serif-font;

  background: none;

  border: 0;
  border-bottom: 2px solid;
  cursor: pointer;
}