@import "_typography.scss";

html {
  font-size: 62.5%;
}

body {
  @extend %sans-serif-font;
}

.App {
  margin: 3rem;
}

.title {
  font-size: 10rem;
  font-family: $SANS-SERIF;
  font-weight: bold;
  font-style: italic;
}

$BUTTON-LINE-WIDTH: 0.08em;
.button {
  @extend %sans-serif-font;

  background: none;

  padding: $SPACING - $BUTTON-LINE-WIDTH 0;
  border: 0;
  border-bottom: $BUTTON-LINE-WIDTH solid;

  cursor: pointer;
}