$SANS-SERIF: Helvetica, Arial, sans-serif;

html {
  font-size: 62.5%;
}

.App {
  margin: 3rem;
}

.title {
  font-size: 10rem;
  font-family: $SANS-SERIF;
  font-weight: bold;
  font-style: italic;
}