@import "typography";

.giphy__error {
  background-color: darkred;
  color: white;
  padding: 1.5rem 2rem;
  font-size: 5rem;
}

.giphy__suggestion {
  font-weight: bold;
  margin-bottom: 3rem;
}

.giphy__name {
  @extend %colored-background;
  background-color: aqua;
}
.giphy__user {
  @extend %colored-background;
  background-color: blueviolet;
}

.giphy__image {
  max-height: 30rem;
  max-width: 30rem;

  margin-bottom: 2rem;
}
