.giphy__error {
  background-color: darkred;
  color: white;
  padding: 1.5rem 2rem;
  font-size: 5rem;
}

.giphy__suggestion {
  font-weight: bold;
  margin-bottom: 3rem;
}

%colored-background {
  display: inline-block;
  padding: 0.2em 0.3em;
}

.giphy__name {
  @extend %colored-background;
  background-color: aqua;
}
.giphy__user {
  @extend %colored-background;
  background-color: blueviolet;
}

.giphy__image {
  max-height: 30rem;
  max-width: 30rem;
}

.giphy__reaction__expression {
  @extend %colored-background;
  font-style: italic;
  margin-bottom: 1rem;
}
.giphy__reaction--positive__expression {
  background-color: green;
}
.giphy__reaction--negative__expression {
  background-color: red;
}